/*.navbar > .container > .footer{
    color:#ffffff;
    height: 2rem;
    text-align: center;
}

.navbar > .container > .footer > a{
    color:#ffffff;
    height: 2rem;
}
.navbar > .container > .footer > a:hover{
    color:#ffffff;
    height: 2rem;
    text-decoration: none;
}*/